@model WatchBot.Models.ViewModels.TVShowsViewModel

<div class="my-container">
    <div>
        <h3 class="header-text text-bold">@Model.Carousels.ElementAt(0).CarouselName.ToUpper()</h3>
    </div>
    @Html.Partial($"~/Views/Shared/_Carousel.cshtml", Model.Carousels.ElementAt(0))
</div>
<div class="my-container">
    <div>
        <h3 class="header-text text-bold">@Model.Carousels.ElementAt(1).CarouselName.ToUpper()</h3>
    </div>
    @Html.Partial($"~/Views/Shared/_Carousel.cshtml", Model.Carousels.ElementAt(1))
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                margin: 4,
                stagePadding: 20,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    },
                    1200: {
                        items: 4
                    },
                    1500: {
                        items: 5
                    }
                },
                loop: true,
                slideBy: "page",
                lazyLoad: false
            });

            var owl = $("#@Model.Carousels.First().CarouselName.GetHashCode()");
            $("#@Model.Carousels.First().CarouselName.GetHashCode()-prev").click(function () {
                owl.trigger('prev.owl');
            });
            $("#@Model.Carousels.First().CarouselName.GetHashCode()-next").click(function () {
                owl.trigger('next.owl');
            });

            var owl2 = $("#@Model.Carousels.ElementAt(1).CarouselName.GetHashCode()");
            $("#@Model.Carousels.ElementAt(1).CarouselName.GetHashCode()-prev").click(function () {
                owl2.trigger('prev.owl');
            });
            $("#@Model.Carousels.ElementAt(1).CarouselName.GetHashCode()-next").click(function () {
                owl2.trigger('next.owl');
            });

        });
    </script>
}
