*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background: #212121;
    font-family: 'Open Sans', sans-serif;
}

#page {
    overflow: hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1, h2, h3, h4, h5, h6,
label {
    color: #a9a9a9;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 250px;
}

.search-input {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    background-color: transparent;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #e0e0e0;
    height: 40px;
    margin: 5px 0 0 0;
}

    .search-input:focus {
        width: 200px;
        outline: none;
    }

.submit {
    height: 40px;
    width: 40px;
    margin: 5px 20px 0 2px;
    background-color: transparent;
    background-image: url('images/searchicon.png');
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e0e0e0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e0e0e0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e0e0e0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e0e0e0;
}

.header-text {
    margin-top: 0em;
    color: #4DB6AC;
    font-size: 200%;
}

.text-bold {
    font-weight: 700;
}

.my-nav {
    margin-bottom: 0;
    background: linear-gradient( 0deg, transparent, #212121);
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
    color: #d0d0d0;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 0;
}

.nav-logo {
    height: 35px;
    background: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(77, 182, 172, 0.6);
    color: #f0f0f0;
}

.navbar-default .navbar-nav > li > a {
    color: #f0f0f0;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #4DB6AC;
    }

.navbar-default .navbar-nav > .dropdown > a .caret, .navbar-default .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
}

.dropdown-menu {
    background-color: rgba(255,255,255,0.9);
}

.feature-img {
    position: relative;
    background: #212121;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -160px;
    z-index: -1;
    top: -88px;
    padding: 0;
    max-height: 750px;
    overflow: hidden;
}

    .feature-img img {
        margin-top: 2%;
    }

.feature-info {
    position: relative;
    height: 130px;
    width: 100%;
    background: transparent;
    z-index: 0;
    top: -160px;
    margin-bottom: -130px;
}

    .feature-info h1 {
        max-width: 600px;
        font-size: 270%;
        color: white;
        margin-bottom: 0;
    }

    .feature-info h1:hover {
            color: #4DB6AC;
        }

    .feature-info a:hover {
        text-decoration: none;
    }

    .feature-info div p {
        max-width: 600px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

.feature-img-fade {
    height: 450px;
    background: linear-gradient( 180deg, transparent, #212121);
    position: relative;
    top: -390px;
    z-index: -1;
    margin-bottom: -440px;
}

.my-container {
    padding: 0 7%;
}

.page-content {
    margin-top: 50px;
}


.tn-title {
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 10;
}

    .tn-title p {
        width: 100%;
        color: #FFFFFF !important;
        font-size: 130%;
        text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
        bottom: 0;
        position: absolute;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0;
        padding-bottom: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.carousel-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 10em;
}

.carousel-outer {
    width: 100%;
    display: inline-block;
    z-index: 0;
}

.prev, .next {
    z-index: 1;
    top: 0;
    position: absolute;
    height: 96%;
    margin-left: -54px;
}

.next {
    right: 0;
    margin-left: 0;
    margin-right: -54px;
}

    .prev i, .next i, .prev i:hover, .next i:hover, .prev i:active, .next i:active {
        height: 100%;
        background: transparent;
        border: none;
        color: #4DB6AC;
        box-shadow: none;
    }

        .prev i:hover, .next i:hover {
            color: #BBB;
        }

        .prev i span, .next i span {
            top: 40%;
            font-size: 24px;
        }

.item-container {
    position: relative;
    width: 100%;
}

.item {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    background-color: #4DB6AC;
}

.item-container:hover .middle {
    opacity: 0.3;
}

/* Double Diagonal line (Carousel seperator) */

.seperator-doublediagonal::before,
.seperator-doublediagonal::after {
    top: -1em;
	left: -25%;
	z-index: -2;
	width: 150%;
	height: 82%;
	background: #303030;
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.seperator-doublediagonal::before {
	height: 82%;
    background: #424242;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}

.seperator-reverse {
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

section {
    position: relative;
    height: 100%;
    min-height: 60px;
    margin-bottom: 0px;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

/*Movie.cshtml specific*/

.backdrop {
    position: relative;
    background: #212121;
    height: 700px;
    margin-left: 0;
    margin-right: 0;
    top: -80px;
    padding: 0;
}

.heroImg {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    min-height: 700px;
    z-index: 0;
}

.gradient {
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 30px;
    left: 0;
    width: 100%;
    opacity: 0.91;
    filter: alpha(opacity=91); /* For IE8 and earlier */
    max-height: 700px;
}

.title {
    color: #F8F8F8;
    padding-right: 88px;
}

.title-year {
    color: #e0e0e0;
    font-weight: 400;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.details-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 65px;
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 3%;
    overflow: hidden;
}

.details-poster {
    margin-left: 5%;
    margin-top: 0;
}

    .details-poster img {
        max-height: 350px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    }

.details-content > div > div > h1 {
    margin: 0 0 1% 0;
    font-size: 250%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 40px;     /* fallback */
    max-height: 80px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#details-info {
    margin-left: 0;
    padding-left: 0;
}

.genre-container {
    width: 100%;
}

.genre {
    display: inline;
    font-size: 90%;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid #C0C0C0;
    border-radius: 0.2em !important;
    margin-bottom: 2%;
    color: #c0c0c0;
}

.rating {
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    color: #C0C0C0;
}

    .rating img {
        width: 40px;
    }


.modal-open .modal,.btn:focus{
    outline:none!important
}

.modal-lg {
    width: 60%;
    margin-top: 4%;
    padding: 0;
}

.myModal {
    width: 100%;
    background-color: #000;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.description {
    font-size: 110%;
    color: #F8F8F8;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    margin-right: 100px;
}

.runtime {
    color: #C0C0C0;
}

.myBtn {
    background: transparent;
    border-color: #e0e0e0;
    color: #e0e0e0;
}

    .myBtn:visited,
    .myBtn:active,
    .myBtn:focus,
    .myBtn:hover {
        background: rgba(17,17,17,120);
        border-color: #e0e0e0;
        color: #e0e0e0;
    }

hr.style1 {
    margin: 30px 5% 20px 5%;
}

.actor-row {
    text-align: center;
    overflow: hidden;
}

.character-name {
    color: #A8A8A8 !important;

}

.details-actor {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: center;
    /* inline-block space fix */
    margin-right: -4px;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 150px;
    padding: 0;
    padding-bottom: 400px;
}

    .details-actor p {
        color: #F8F8F8;
        text-overflow: ellipsis;
        max-height: 40px;
        overflow: hidden;
        margin-bottom: 5px;
        white-space: nowrap;
        max-width: 200px;
    }

    .details-actor div {
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
    }

        .details-actor div img {
            width: 150px;
            margin: -1.3em 0 0 0;
        }

.similar-section {
    width: 100%;
    margin-top: -45px;
    background-color: #212121;
}
    
    .similar-section .header-text {
        padding-top: 1%;
    }

    .similar-section .my-container {
        padding-bottom: 2%;
    }

    .similar-section .carousel-wrapper {
        margin-bottom: 0;
        padding-bottom: 0;
    }

/*Genre page specific*/

.genre-title {
    margin-top: 30px;
}

#poster-grid {
    display:inline-block;
    width: 100%;
}

.poster {
    padding: 0;
    display: block;
}

    .poster>div {
        margin: 3px;
        position: relative;
    }

    .poster .overlay {
        position: absolute;
        background-color: rgba(192,192,192,0.65);
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .poster p {
        font-size: 120%;
        padding: 7%;
        color: #000;
        
    }

    .poster img:hover + div, .poster .overlay:hover {
        display: flex;
    }

@media screen and (max-width: 1200px) {
    
    .details-content > div > div > h1 {
        font-size: 230%;
    }

    .description {
        font-size: 100%;
    }
}

@media screen and (max-width: 830px) {
    .modal-lg {
        width: 90%;
        margin-top: 2%; 
    }
    
    .details-content {
        padding-left: 4%;
        padding-right: 4%;
    }

    .details-actor div {
        width: 120px;
        height: 120px;
        overflow: hidden;
    }

        .details-actor div img {
            width: 120px;
            margin: -1.3em 0 0 0;
        }
    .description {
        margin-right: 0;
    }
}

@media screen and (max-width: 770px) {
    .details-poster {
        margin-left: 1%;
        width: 20px;
    }

    .prev, .next {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .details-content {
        padding-left: 3%;
        padding-right: 3%;
    }

        .details-content > div > div > h1 {
            font-size: 200%;
            margin-bottom: 1rem;
        }

    .header-text {
        font-size: 150%;
    }

    .feature-info div h1 {
        font-size: 140%;
        position: absolute;
        bottom: 0;
        margin-bottom: -40px;
    }

    .feature-info div p {
        display: none;
    }

    .feature-img img {
        margin-top: 2%;
    }

    .feature-img-fade {
        height: 150px;
        top: -70px;
        margin-bottom: -120px;
    }

    .description {
        font-size: 100%;
    }

    .carousel-wrapper {
        margin-bottom: 6em;
    }

    .carousel {
        width: 100%;
    }

    .home-margins {
        margin-right: 2rem;
    }

    .details-actor {
        width: 100px;
    }

        .details-actor div {
            width: 100px;
            height: 100px;
            overflow: hidden;
        }

            .details-actor div img {
                width: 100px;
                margin: -1.1em 0 0 0;
            }

    .poster p {
        font-size: 100%;
    }
}
