@model WatchBot.Models.PreviewItem

<div class="item">
    @if (Model.isAMovie)
    {
        <a href=@Url.Action("Movie", "Home", new {id = Model.Id.ToString()})>
            <img src="@Model.Backdrop" />
            <div class="tn-title item">
                <p>@Model.Title.ToUpper()</p>
            </div>
        </a>
    }
    else
    {
        <a href=@Url.Action("TvShow", "TV", new {id = Model.Id.ToString()})>
            <img src="@Model.Backdrop" />
            <div class="tn-title item">
                <p>@Model.Title.ToUpper()</p>
            </div>
        </a>
    } 
</div>
