@model WatchBot.Models.ViewModels.GenreViewModel


<div class="my-container">
    <h2 class="genre-title text-bold header-text">@Model.GenreName.ToUpper()</h2>
    <div class="row poster-grid">
        @foreach (var movie in Model.Movies.Values)
        {
            @Html.Partial($"~/Views/Shared/_Poster.cshtml", movie)
        }
    </div>
</div>
