@model WatchBot.Models.ViewModels.GenreViewModel


<div class="my-container">
    <h2 class="heading-text">@Model.GenreName</h2>
    <div class="row">
        @foreach (var movie in Model.Movies.Values)
        {
            @Html.Partial($"~/Views/Shared/_Poster.cshtml", movie)
        }
    </div>
</div>
