@model  WatchBot.Models.ViewModels.DiscoverViewModel

@Html.Partial($"~/Views/Shared/_FeatureMovie.cshtml", Model.FeaturePopular)
<div class="my-container">
    <div>
        <h3 class="header-text text-bold">POPULAR</h3>
    </div>
    @Html.Partial($"~/Views/Shared/_Carousel.cshtml", Model.Popular.Values)
</div>
@Html.Partial($"~/Views/Shared/_FeatureMovie.cshtml", Model.FeatureTopRated)
<div class="my-container">
    <div>
        <h3 class="header-text text-bold">TOP RATED</h3>
    </div>
    @Html.Partial($"~/Views/Shared/_Carousel.cshtml", Model.TopRated.Values)
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                margin: 4,
                stagePadding: 20,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    },
                    1200: {
                        items: 4
                    },
                    1500: {
                        items: 5
                    }
                },
                loop: true,
                slideBy: "page",
                lazyLoad: false
            });

            var owl = $("#@Model.Popular.First().Value.Id.ToString()");
            $("#@Model.Popular.First().Value.Id.ToString()prev").click(function () {
                owl.trigger('prev.owl');
            });
            $("#@Model.Popular.First().Value.Id.ToString()next").click(function () {
                owl.trigger('next.owl');
            });

            var owl2 = $("#@Model.TopRated.First().Value.Id.ToString()");
            $("#@Model.TopRated.First().Value.Id.ToString()prev").click(function () {
                owl2.trigger('prev.owl');
            });
            $("#@Model.TopRated.First().Value.Id.ToString()next").click(function () {
                owl2.trigger('next.owl');
            });
        });
    </script>
}